.bookingpage {
  padding: 0 var(--pagepad);
  font-size: 1.5rem;
  line-height: 2.5rem;

  form {
    max-width: 700px;
    label {
      display: flex;
      margin: 1rem 0;
      padding: 1rem;
      cursor: pointer;
      border-radius: 5px;
      align-items: center;
      justify-content: space-between;
      &:hover {
        background-color: #f1f1f1;
      }
      input {
        height: 40px;
        width: 50%;
      }
      select {
        height: 40px;
        width: calc(50% + 20px);
      }
      @media (min-width: 420px) {
        input {
          width: 230px;
        }
        select {
          width: 250px;
        }
      }
    }
    input[type='submit'] {
      all: unset;
      color: white;
      cursor: pointer;
      font-size: 1.5rem;
      font-weight: bold;
      border-radius: 4px;
      display: inline-block;
      padding: 0.7rem 2rem;
      background-color: var(--primary);
      &:hover {
        background-color: lighten(#012e02, 15%);
      }
    }
  }
}
