.contact  {
    font-size: 1.5rem;
    padding: 2rem var(--pagepad);
    line-height: 2rem;
    .detail {
        margin-top: 3rem;
        display:  flex;
        align-items: center;
        &__icon {
            margin-right: 2rem;
            background-color: #f1f1f1;
            border-radius: 50%;
            width: 8rem;
            height: 8rem;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 5rem;
            }
        }
    }
}