.explorepage {
  padding: 0 var(--pagepad);
  font-size: 1.5rem;
  line-height: 2.5rem;
  .main {
    display: flex;
    margin-top: 5rem;
    flex-direction: row-reverse;
    // flex-wrap: wrap;
    .map {
      margin-left: 2rem;
      width: 500px;
      width: 100%;
      iframe {
        box-shadow: 0px 3px 4px #00000029;
        border-radius: 5px;
        width: 30rem;
        height: 60rem;
      }
    }
    .info {
      &__item {
        margin-top: 2rem;
        &__title {
          font-weight: bold;
        }
        &__img {
          background-color: #f1f1f1;
          // height: 20rem;
          height: 1rem;
          border-radius: 5px;
          margin: 2rem 0;
        }
        &__text {
          opacity: 0.8;
          font-size: 1.3rem;
        }
      }
      &__details {
        .detail {
          margin-top: 3rem;
          display: flex;
          align-items: center;
          &__icon {
            margin-right: 2rem;
            background-color: #f1f1f1;
            border-radius: 50%;
            width: 8rem;
            height: 8rem;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 5rem;
            }
          }
        }
      }
    }
    @media (max-width: 600px) {
      display: block;
      .map {
          display: flex;
          justify-content: center;
          margin: 0;
        iframe {
          width: 40rem;
          height: 40rem;
        }
      }
    }
  }
}
