.header {
  height: 45rem;
  color: white;
  margin-bottom: 5rem;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: url('/images/city.jpg');
  &.small {
    height: 30rem;
    background-position: center;
  }
  .jumbo {
    display: flex;
    font-size: bold;
    font-size: 3.5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0 var(--pagepad);
    height: calc(100% - 6.8rem);
  }
  @media (max-width: 600px) {
    .jumbo {
      font-size: 3rem;
    }
    .navi {
      &__links {
        display: none;
      }
      .slidein__open {
        display: block;
      }
    }
  }
}
