.header__overlay,
.header {
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  &.small {
    height: 30rem;
    background-position: center;
  }
}
.header__overlay  {
  margin-bottom: 5rem;

}
.header {
  height: 45rem;
  color: white;
  position: relative;
  .jumbo {
    top: 50%;
    left: 50%;
    width: max-content;
    font-size: 3.5rem;
    position: absolute;
    text-align: center;
    padding: 0 var(--pagepad);
    transform: translate(-50%, -50%);
    .main {
      font-weight: bold;
    }
    .sub {
      // color: #01330298;
    }
  }
  @media (max-width: 600px) {
    .jumbo {
      font-size: 3rem;
    }
    .navi {
      &__links {
        display: none;
      }
      .slidein__open {
        display: block;
      }
    }
  }
}
